# Creating the dataset based on data from the MTS dataset

## Import libraries

In [2]:
import pandas as pd
import numpy as np
import feather
from tqdm import tqdm

## Reading data

In [ ]:
data_target = feather.read_dataframe('./archive/target_train.feather')
data_features = feather.read_dataframe('./archive/dataset_full.feather')

In [ ]:
data_target = data_target[['age', 'user_id']]
data_target = data_target.dropna()

In [ ]:
dataset = pd.merge(data_target, data_features, on='user_id', how='inner') 
dataset = dataset[:100000000]

## Creating the column about the number of records in a data set

In [ ]:
frequency = dataset['user_id'].value_counts()
dataset = pd.merge(dataset, frequency, on='user_id', how='inner')

In [ ]:
dataset

,age,user_id,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,count
0,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,sun9-29.userapi.com,smartphone,Android,14948.0,2021-06-24,morning,1,178
1,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,id.tinkoff.ru,smartphone,Android,14948.0,2021-07-14,morning,1,178
2,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,id.tinkoff.ru,smartphone,Android,14948.0,2021-07-13,evening,1,178
3,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,vk.com,smartphone,Android,14948.0,2021-06-23,day,1,178
4,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,vk.com,smartphone,Android,14948.0,2021-07-11,day,1,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99999995,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,node3.online.sberbank.ru,smartphone,Android,14943.0,2021-08-08,morning,1,301
99999996,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,ok.ru,smartphone,Android,14943.0,2021-06-30,morning,1,301
99999997,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,rtb.com.ru,smartphone,Android,14943.0,2021-08-06,day,1,301
99999998,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,ura.news,smartphone,Android,14943.0,2021-07-24,day,1,301
99999999,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,vk.com,smartphone,Android,14943.0,2021-07-13,morning,1,301

## Total number of requests

In [ ]:
user_ids = dataset['user_id'].unique()

In [ ]:
numbers_req = {}
with tqdm(total=len(user_ids)) as pbar:
    for user_id in user_ids:
        t = dataset[dataset['user_id'] == user_id]
        numbers_req[user_id] = sum(t['request_cnt'])
        pbar.update(1)

100%|██████████| 128144/128144 [1:15:44<00:00, 28.20it/s]

In [ ]:
df = pd.DataFrame(list(numbers_req.items()), columns=['user_id', 'Sum_req'])

In [ ]:
df

        user_id  Sum_req
0        350459      240
1        188276      157
2         99002      856
3        155506       38
4        213873        4
...         ...      ...
128139   366609      457
128140   403108     1221
128141    60635      492
128142    72863     4044
128143   400822      485

[128144 rows x 2 columns]

In [ ]:
dataset = pd.merge(dataset, df, on='user_id', how='inner')

In [ ]:
dataset

,age,user_id,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,count,Sum_req
0,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,sun9-29.userapi.com,smartphone,Android,14948.0,2021-06-24,morning,1,178,240
1,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,id.tinkoff.ru,smartphone,Android,14948.0,2021-07-14,morning,1,178,240
2,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,id.tinkoff.ru,smartphone,Android,14948.0,2021-07-13,evening,1,178,240
3,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,vk.com,smartphone,Android,14948.0,2021-06-23,day,1,178,240
4,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,vk.com,smartphone,Android,14948.0,2021-07-11,day,1,178,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99999995,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,node3.online.sberbank.ru,smartphone,Android,14943.0,2021-08-08,morning,1,301,485
99999996,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,ok.ru,smartphone,Android,14943.0,2021-06-30,morning,1,301,485
99999997,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,rtb.com.ru,smartphone,Android,14943.0,2021-08-06,day,1,301,485
99999998,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,ura.news,smartphone,Android,14943.0,2021-07-24,day,1,301,485
99999999,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,vk.com,smartphone,Android,14943.0,2021-07-13,morning,1,301,485

## Creating a column that describes the part of the day in which the user uses the phone most often

In [ ]:
user_ids = dataset['user_id'].unique()
parts_of_day = ['morning', 'day', 'evening', 'night']

In [ ]:
new_part_of_day = pd.get_dummies(dataset['part_of_day'])
dataset = dataset.join(new_part_of_day)

In [ ]:
age_part_day = {}
with tqdm(total=len(user_ids)) as pbar:
    for user_id in user_ids:
        t = data[data['user_id'] == user_id]
        max_using = 0
        for part_of_day in parts_of_day:
            if  sum(t[part_of_day]) > max_using:
                max_using = sum(t[part_of_day])
                age_part_day[user_id] = part_of_day
    
        pbar.update(1)

100%|██████████| 128144/128144 [1:16:04<00:00, 28.07it/s]

In [ ]:
df = pd.DataFrame(list(age_part_day.items()), columns=['user_id', 'PartofDay'])

In [ ]:
df

        user_id PartofDay
0        350459       day
1        188276   evening
2         99002       day
3        155506   morning
4        213873   morning
...         ...       ...
128139   366609       day
128140   403108   evening
128141    60635   morning
128142    72863   evening
128143   400822       day

[128144 rows x 2 columns]

In [ ]:
dataset = pd.merge(dataset, df, on='user_id', how='inner')

In [ ]:
dataset

,age,user_id,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,count,Sum_req,day,evening,morning,night,PartofDay
0,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,sun9-29.userapi.com,smartphone,Android,14948.0,2021-06-24,morning,1,178,240,False,False,True,False,day
1,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,id.tinkoff.ru,smartphone,Android,14948.0,2021-07-14,morning,1,178,240,False,False,True,False,day
2,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,id.tinkoff.ru,smartphone,Android,14948.0,2021-07-13,evening,1,178,240,False,True,False,False,day
3,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,vk.com,smartphone,Android,14948.0,2021-06-23,day,1,178,240,True,False,False,False,day
4,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,vk.com,smartphone,Android,14948.0,2021-07-11,day,1,178,240,True,False,False,False,day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99999995,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,node3.online.sberbank.ru,smartphone,Android,14943.0,2021-08-08,morning,1,301,485,False,False,True,False,day
99999996,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,ok.ru,smartphone,Android,14943.0,2021-06-30,morning,1,301,485,False,False,True,False,day
99999997,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,rtb.com.ru,smartphone,Android,14943.0,2021-08-06,day,1,301,485,True,False,False,False,day
99999998,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,ura.news,smartphone,Android,14943.0,2021-07-24,day,1,301,485,True,False,False,False,day
99999999,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,vk.com,smartphone,Android,14943.0,2021-07-13,morning,1,301,485,False,False,True,False,day

## Deleting unnecessary user records

In [ ]:
dataset = final_data.drop_duplicates(subset=['user_id'], keep='first')

In [ ]:
dataset

,age,user_id,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,count,Sum_req,day,evening,morning,night,PartofDay
0,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,sun9-29.userapi.com,smartphone,Android,14948.0,2021-06-24,morning,1,178,240,False,False,True,False,day
178,35.0,188276,Ленинградская область,Тосно,Samsung,Galaxy A8 2018 Dual,onlayn-radio.ru,smartphone,Android,11434.0,2021-07-01,morning,1,111,157,False,False,True,False,evening
289,41.0,99002,Пензенская область,Заречный,Huawei,Honor 8X,castlots.org,smartphone,Android,18288.0,2021-07-20,evening,1,639,856,False,True,False,False,day
928,33.0,155506,Краснодарский край,Краснодар,Apple,iPhone 7 Plus,tpc.googlesyndication.com,smartphone,iOS,37090.0,2021-06-16,morning,3,22,38,False,False,True,False,morning
950,54.0,213873,Краснодарский край,Краснодар,Huawei,Honor 6A,yandex.ru,smartphone,Android,8987.0,2021-07-20,morning,1,4,4,False,False,True,False,morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996610,31.0,366609,Республика Башкортостан,Уфа,Apple,iPhone 11,ad.mail.ru,smartphone,iOS,55832.0,2021-06-29,day,2,266,457,True,False,False,False,day
99996876,21.0,403108,Ивановская область,Иваново,Apple,iPhone 12,ad.mail.ru,smartphone,iOS,83434.0,2021-06-22,morning,1,770,1221,False,False,True,False,evening
99997646,22.0,60635,Тульская область,Тула,Apple,iPhone 11,ads.adfox.ru,smartphone,iOS,61882.0,2021-06-20,day,1,238,492,True,False,False,False,morning
99997884,42.0,72863,Самарская область,Самара,Huawei,P30 Pro,cdn-rtb.sape.ru,smartphone,Android,64951.0,2021-06-24,night,2,1815,4044,False,False,False,True,evening
99999699,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,avatars.mds.yandex.net,smartphone,Android,14943.0,2021-06-27,day,2,301,485,True,False,False,False,day

## Removing extra columns

In [ ]:
dataset.drop(['request_cnt', 'day', 'evening', 'morning', 'night', 'part_of_day', 'date','url_host'], axis=1, inplace=True)

/var/folders/dv/f5hnt9ln76s58c5pnq899n6h0000gn/T/ipykernel_7306/2970319410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data.drop(['request_cnt', 'day', 'evening', 'morning', 'night', 'part_of_day', 'date','url_host'], axis=1, inplace=True)

In [ ]:
dataset

,age,user_id,region_name,city_name,cpe_manufacturer_name,cpe_model_name,cpe_type_cd,cpe_model_os_type,price,count,Sum_req,PartofDay
0,31.0,350459,Удмуртская Республика,Ижевск,Xiaomi,Redmi Note 7,smartphone,Android,14948.0,178,240,day
178,35.0,188276,Ленинградская область,Тосно,Samsung,Galaxy A8 2018 Dual,smartphone,Android,11434.0,111,157,evening
289,41.0,99002,Пензенская область,Заречный,Huawei,Honor 8X,smartphone,Android,18288.0,639,856,day
928,33.0,155506,Краснодарский край,Краснодар,Apple,iPhone 7 Plus,smartphone,iOS,37090.0,22,38,morning
950,54.0,213873,Краснодарский край,Краснодар,Huawei,Honor 6A,smartphone,Android,8987.0,4,4,morning
...,...,...,...,...,...,...,...,...,...,...,...,...
99996610,31.0,366609,Республика Башкортостан,Уфа,Apple,iPhone 11,smartphone,iOS,55832.0,266,457,day
99996876,21.0,403108,Ивановская область,Иваново,Apple,iPhone 12,smartphone,iOS,83434.0,770,1221,evening
99997646,22.0,60635,Тульская область,Тула,Apple,iPhone 11,smartphone,iOS,61882.0,238,492,morning
99997884,42.0,72863,Самарская область,Самара,Huawei,P30 Pro,smartphone,Android,64951.0,1815,4044,evening
99999699,56.0,400822,Краснодарский край,Новороссийск,Huawei,Honor 9 Lite,smartphone,Android,14943.0,301,485,day

In [ ]:
dataset.to_csv('FinalDataset.csv', index=False)